<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body.dark {
          background-color: #d5d5d5; /* Цвет фона */
        }
    </style>
</head>
<body class="dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('tasks') }}">Менің тапсырмаларым</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_task') }}">Тапсырма қосу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('assign_task') }}">Тапсырманы тағайындау</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('assigned_tasks') }}">Тағайындалған тапсырмалар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Шығу</a>
                </li>
                <span class="navbar-text pl-3 align-right">
                    Қош келдіңіз, {{ current_user.username }}!
                </span>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Кіру</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Тіркелу</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
